.event-filter-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .event-filter-header {
        height: 56px;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 1px rgba(0, 0, 0, 0.12);

        .event-filter-title {
            font-size: 1rem;
            font-weight: var(--font-weight-bold);
        }
    }

    .event-filter-content {
        padding: 1rem;
        height: calc(100% - 112px);
    }

    .event-filter-actions {
        height: 56px;
        padding: 0 1rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: flex-end;
    }
}
