<div class="base-dialog-container">
    <div class="base-dialog-header">
        <div class="base-dialog-title">{{event.title}}</div>
        <div class="event-status" [style.backgroundColor]="eventStatus.backgroundColor"
            [style.color]="eventStatus.textColor" *ngIf="eventStatus">
            {{eventStatus.name | uppercase}}
        </div>
    </div>

    <div class="base-dialog-content">
        <div>
            <b>Group: </b> <span class="event-group">{{event.extendedProps._groupId | groupDetails | async |
                objectProperty: 'name' | uppercase}}</span>
        </div>

        <div class="event-date-range">
            <div><b>Start Date: </b>{{event.start | date: 'MMM d, y'}}</div>
            <mat-icon>arrow_forward</mat-icon>
            <div><b>End Date: </b>{{event.end | date:'MMM d, y'}}</div>
        </div>

        <div class="event-completed-at" *ngIf="event.extendedProps.completedAt">
            <b>Completed At:</b> {{event.extendedProps.completedAt | date: 'MMM d, y'}}
        </div>

        <div>
            <b>Tags: </b>
            <span class="event-tags">
                <ng-container *ngFor="let tag of tags; trackBy: trackByFn">
                    <span class="event-tag">{{tag.name}}</span>
                </ng-container>
            </span>
        </div>

        <div class="box-highlight">{{event.extendedProps.description}}</div>
    </div>

    <div class="base-dialog-actions">
        <button mat-flat-button (click)="cancelHandler()">Cancel</button>
        <button mat-flat-button color="primary" (click)="navigateToEventDetails()">Edit</button>
    </div>
</div>
