.grid-widget-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: var(--border-radius);

    .grid-widget-title {
        font-size: 1.2rem;
        font-weight: var(--font-weight-bold);
    }

    .base-grid-table {
        height: 100%;
    }
}
