<div class="base-container fixed-size base-details-container">
    <ng-template [ngTemplateOutlet]="BaseDetailsHeaderTemplate" />

    <ng-template [ngTemplateOutlet]="BaseDetailsContentTemplate" />

    <ng-template [ngTemplateOutlet]="BaseDetailsActionsTemplate" />
</div>

<ng-template #BaseDetailsHeaderTemplate>
    <div class="base-details-header">Order Details</div>
</ng-template>

<ng-template #BaseDetailsContentTemplate>
    <div class="base-details-content" [formGroup]="formGroup">
        <div class="base-details-block" *ngFor="let product of products.controls; index as i">
            <ng-container [formGroup]="product">
                <mat-form-field appearance="outline">
                    <mat-label>Product</mat-label>
                    <mat-select required formControlName="_productId"
                        (selectionChange)="onProductSelectionChange($event, i)">
                        <mat-option *ngFor="let product of productList; trackBy: trackByFn;" [value]="product._id">
                            {{product.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        <error-message [errors]="products.controls[i].get('_productId')?.errors" [target]="'Product'" />
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Quantity</mat-label>
                    <input matInput type="number" min="0" formControlName="quantity" required autocomplete="off" />
                    <mat-hint>Available:
                        {{this.productsAvailableQuantily.get(products.controls[i].get('_productId').value)}}
                        item(s).</mat-hint>
                    <mat-error>
                        <error-message [errors]="products.controls[i].get('quantity')?.errors" [target]="'Quantity'" />
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Price</mat-label>
                    <input matInput type="number" min="0" formControlName="price" required autocomplete="off" />
                    <mat-error>
                        <error-message [errors]="products.controls[i].get('price')?.errors" [target]="'Price'" />
                    </mat-error>
                </mat-form-field>
            </ng-container>

            <div class="base-details-actions">
                <button mat-flat-button color="primary" (click)="addProduct(i)">Add</button>

                <button mat-flat-button color="warn" (click)="removeProduct(i)">Remove</button>
            </div>
        </div>

        <ng-container [formGroup]="formGroup">
            <mat-form-field appearance="outline">
                <mat-label>Customer</mat-label>
                <input type="text" aria-label="Customer" matInput formControlName="_customerId"
                    [matAutocomplete]="customerMatAutocomplete">
                <mat-autocomplete autoActiveFirstOption #customerMatAutocomplete="matAutocomplete"
                    [displayWith]="customerDisplayWithFn.bind(this)">
                    <mat-option *ngFor="let customer of customerFilteredOptions | async" [value]="customer._id">
                        {{customer.name}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error>
                    <error-message [errors]="formGroup.get('_customerId')?.errors" [target]="'Customer'" />
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Created By</mat-label>
                <input matInput formControlName="_createdBy" readonly required autocomplete="off" />
                <mat-error>
                    <error-message [errors]="formGroup.get('_createdBy')?.errors" [target]="'Created By'" />
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Created At</mat-label>
                <input matInput [matDatepicker]="createdAtPicker" formControlName="createdAt" required
                    autocomplete="off" />
                <mat-datepicker-toggle matIconSuffix [for]="createdAtPicker" />
                <mat-datepicker #createdAtPicker />
                <mat-error>
                    <error-message [errors]="formGroup.get('createdAt')?.errors" [target]="'Created At'" />
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Delivery At</mat-label>
                <input matInput [matDatepicker]="deliveryAtPicker" formControlName="deliveryAt" required
                    autocomplete="off" />
                <mat-datepicker-toggle matIconSuffix [for]="deliveryAtPicker" />
                <mat-datepicker #deliveryAtPicker />
                <mat-error>
                    <error-message [errors]="formGroup.get('deliveryAt')?.errors" [target]="'Delivery At'" />
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Delivery By</mat-label>
                <input matInput formControlName="deliveryBy" required autocomplete="off" />
                <mat-error>
                    <error-message [errors]="formGroup.get('deliveryBy')?.errors" [target]="'Delivery By'" />
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select required formControlName="status">
                    <mat-option *ngFor="let status of orderStatusList; trackBy: trackByFn;" [value]="status._id">
                        {{status.displayName}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    <error-message [errors]="formGroup.get('status')?.errors" [target]="'Status'" />
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Discount</mat-label>
                <input matInput type="number" formControlName="discount" required autocomplete="off" min="0" />
                <mat-error>
                    <error-message [errors]="formGroup.get('discount')?.errors" [target]="'Discount'" />
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Notes</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
                    cdkAutosizeMaxRows="10" formControlName="notes" autocomplete="off"></textarea>
                <mat-error>
                    <error-message [errors]="formGroup.get('notes')?.errors" [target]="'Notes'" />
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Total</mat-label>
                <input matInput type="number" formControlName="total" required autocomplete="off" min="0" />
                <mat-error>
                    <error-message [errors]="formGroup.get('total')?.errors" [target]="'Total'" />
                </mat-error>
            </mat-form-field>
        </ng-container>
    </div>
</ng-template>

<ng-template #BaseDetailsActionsTemplate>
    <div class="base-details-actions">
        <button mat-flat-button (click)="cancelHandler()">Cancel</button>

        <button mat-flat-button color="primary" (click)="updateHandler()"
            [disabled]="isLoading || formGroup.invalid || !formHasChanged">
            <mat-spinner strokeWidth="4" diameter="24" class="--button --submit" *ngIf="isLoading" />
            <span>Update</span>
        </button>
    </div>
</ng-template>
