<div class="base-container">
    <mat-accordion class="general-setting-headers-align" multi>
        <mat-expansion-panel expanded hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Timezone
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon>public</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <timezone />
        </mat-expansion-panel>

        <mat-expansion-panel expanded hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Language
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon>language</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <language />
        </mat-expansion-panel>

        <mat-expansion-panel expanded hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    License
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon>security</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <license />
        </mat-expansion-panel>

        <mat-expansion-panel expanded hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    User
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <user />
        </mat-expansion-panel>
    </mat-accordion>
</div>
