<div class="base-container base-details-container">
    <ng-template [ngTemplateOutlet]="BaseDetailsHeaderTemplate"></ng-template>

    <ng-template [ngTemplateOutlet]="BaseDetailsContentTemplate"></ng-template>

    <ng-template [ngTemplateOutlet]="BaseDetailsActionsTemplate"></ng-template>
</div>

<ng-template #BaseDetailsHeaderTemplate>
    <div class="base-details-header">Log Details</div>
</ng-template>

<ng-template #BaseDetailsContentTemplate>
    <div class="base-details-content">
        <div><span>From: </span>{{auditLog._userId | userDetails | async | objectProperty: 'name'}}</div>
        <div><span>Event: </span>{{auditLog.event}}</div>
        <div><span>Action: </span>{{auditLog.action}}</div>
        <div><span>Details: </span>{{auditLog.details}}</div>
        <div><span>Date: </span>{{auditLog.date | date: 'medium'}}</div>
    </div>
</ng-template>

<ng-template #BaseDetailsActionsTemplate>
    <div class="base-details-actions">
        <button mat-flat-button (click)="backHandler()">Back</button>
    </div>
</ng-template>
