<div class="base-container base-details-container">
    <mat-icon class="base-details-avatar">task</mat-icon>
    <div class="base-details-body">
        <div><span>From: </span>{{auditLog.user | userDetails | async | objectProperty: 'name'}}</div>
        <div><span>Event: </span>{{auditLog.event}}</div>
        <div><span>Action: </span>{{auditLog.action}}</div>
        <div><span>Details: </span>{{auditLog.details}}</div>
        <div><span>Date: </span>{{auditLog.date | date: 'medium'}}</div>
    </div>
    <div class="base-details-actions">
        <button mat-flat-button (click)="backHandler()">Back</button>
    </div>
</div>
