<div class="base-container fixed-size">
    <div class="base-details-container">
        <ng-template [ngTemplateOutlet]="BaseDetailsHeaderTemplate" />

        <ng-template [ngTemplateOutlet]="BaseDetailsContentTemplate" />

        <ng-template [ngTemplateOutlet]="BaseDetailsActionsTemplate" />
    </div>
</div>

<ng-template #BaseDetailsHeaderTemplate>
    <div class="base-details-header">Log Details</div>
</ng-template>

<ng-template #BaseDetailsContentTemplate>
    <div class="base-details-content">
        <div><span class="text-highlight">From: </span>{{auditLog._userId | userDetails | async | objectProperty:
            'name'}}</div>
        <div><span class="text-highlight">Event: </span>{{auditLog.event}}</div>
        <div><span class="text-highlight">Action: </span>{{auditLog.action}}</div>
        <div>
            <div class="text-highlight">Details: </div>
            <div class="box-highlight">{{auditLog.details}}</div>
        </div>
        <div><span>Date: </span>{{auditLog.date | date: 'medium'}}</div>
    </div>
</ng-template>

<ng-template #BaseDetailsActionsTemplate>
    <div class="base-details-actions">
        <button mat-flat-button (click)="backHandler()">Back</button>
    </div>
</ng-template>
