<div class="base-container">
    <div class="dashboard-kpi-widgets">
        <div>
            <kpi-widget [config]="userKPIConfig" />
        </div>
        <div>
            <kpi-widget [config]="customerKPIConfig" />
        </div>
        <div>
            <kpi-widget [config]="productKPIConfig" />
        </div>
        <div>
            <kpi-widget [config]="orderKPIConfig" />
        </div>
    </div>
    <div class="dashboard-grid-widgets">
        <div>
            <grid-widget [config]="orderGridConfig" />
        </div>
    </div>
</div>
