<div class="base-container base-details-container">
    <mat-icon class="base-details-avatar">supervised_user_circle</mat-icon>
    <div class="base-details-body" [formGroup]="formGroup">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" required autocomplete="off" />
            <mat-error>
                <error-message [errors]="formGroup.get('name')?.errors" [target]="'Name'" />
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" formControlName="address" required autocomplete="off" />
            <mat-error>
                <error-message [errors]="formGroup.get('name')?.errors" [target]="'Address'" />
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Phone Number" formControlName="phoneNumber" required autocomplete="off" />
            <mat-error>
                <error-message [errors]="formGroup.get('phoneNumber')?.errors" [target]="'Phone Number'" />
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" required autocomplete="off" />
            <mat-error>
                <error-message [errors]="formGroup.get('email')?.errors" [target]="'Email'" />
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <mat-select required formControlName="role">
                <mat-option *ngFor="let role of userRoleList; trackBy:trackByFn;" [value]="role._id">
                    {{role.displayName}}
                </mat-option>
            </mat-select>
            <mat-error>
                <error-message [errors]="formGroup.get('role')?.errors" [target]="'Role'" />
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Group</mat-label>
            <mat-select formControlName="_groupId">
                <mat-option *ngFor="let group of groupList; trackBy:trackByFn;" [value]="group._id">
                    {{group.name}}
                </mat-option>
            </mat-select>
            <mat-error>
                <error-message [errors]="formGroup.get('_groupId')?.errors" [target]="'Group'" />
            </mat-error>
        </mat-form-field>
    </div>
    <div class="base-details-actions">
        <button mat-flat-button (click)="cancelHandler()">Cancel</button>
        <button mat-flat-button color="primary" (click)="submitHandler()" [disabled]="isLoading || formGroup.invalid">
            <mat-spinner strokeWidth="4" diameter="24" class="--button --submit" *ngIf="isLoading" />
            <span>Submit</span>
        </button>
    </div>
</div>
