<div class="base-container fixed-size base-details-container">
    <ng-template [ngTemplateOutlet]="BaseDetailsHeaderTemplate" />

    <ng-template [ngTemplateOutlet]="BaseDetailsContentTemplate" />

    <ng-template [ngTemplateOutlet]="BaseDetailsActionsTemplate" />
</div>

<ng-template #BaseDetailsHeaderTemplate>
    <div class="base-details-header">New Task</div>
</ng-template>

<ng-template #BaseDetailsContentTemplate>
    <div class="base-details-content" [formGroup]="formGroup">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title" required autocomplete="off" />
            <mat-error>
                <error-message [errors]="formGroup.get('title')?.errors" [target]="'Title'" />
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10"
                matInput formControlName="description" autocomplete="off"></textarea>
            <mat-error>
                <error-message [errors]="formGroup.get('description')?.errors" [target]="'Description'" />
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Start</mat-label>
            <input matInput placeholder="MM/DD/YYYY" [matDatepicker]="startPicker" formControlName="start" required
                autocomplete="off" />
            <mat-datepicker-toggle matIconSuffix [for]="startPicker" />
            <mat-datepicker #startPicker />
            <mat-error>
                <error-message [errors]="formGroup.get('start')?.errors" [target]="'Start'" />
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>End</mat-label>
            <input matInput placeholder="MM/DD/YYYY" [matDatepicker]="endPicker" formControlName="end" required
                autocomplete="off" />
            <mat-datepicker-toggle matIconSuffix [for]="endPicker" />
            <mat-datepicker #endPicker />
            <mat-error>
                <error-message [errors]="formGroup.get('start')?.errors" [target]="'End'" />
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Background Color</mat-label>
            <input matInput type="color" formControlName="backgroundColor" autocomplete="off" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Border Color</mat-label>
            <input matInput type="color" formControlName="borderColor" autocomplete="off" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Text Color</mat-label>
            <input matInput type="color" formControlName="textColor" autocomplete="off" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Group</mat-label>
            <mat-select formControlName="_groupId">
                <mat-option [value]="''">None</mat-option>
                <mat-option *ngFor="let group of groupList; trackBy: trackByFn;" [value]="group._id">
                    {{group.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Priority</mat-label>
            <input matInput type="number" formControlName="priority" autocomplete="off" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Tag(s)</mat-label>
            <mat-select formControlName="_tagIds" multiple>
                <mat-option *ngFor="let tag of tagList; trackBy: trackByFn;" [value]="tag._id">{{tag.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</ng-template>

<ng-template #BaseDetailsActionsTemplate>
    <div class="base-details-actions">
        <button mat-flat-button (click)="cancelHandler()">Cancel</button>

        <button mat-flat-button color="primary" (click)="submitHandler()" [disabled]="isLoading || formGroup.invalid">
            <mat-spinner strokeWidth="4" diameter="24" class="--button --submit" *ngIf="isLoading" />
            <span>Submit</span>
        </button>
    </div>
</ng-template>
