.event-mark {
    &.--new {
        background-color: var(--new-background-color);
        color: var(--new-textc-color);
    }

    &.--active {
        background-color: var(--active-background-color);
        color: var(--active-text-color);
    }

    &.--completed {
        background-color: var(--completed-background-color);
        color: var(--completed-text-color);
    }
}
