.event-mark {
    padding: 0.5rem;
    border-radius: var(--border-radius);
    color: #ffffff;
    font-weight: var(--font-weight-bold);

    &.--new {
        background-color: var(--new-background-color);
    }

    &.--active {
        background-color: var(--active-background-color);
    }

    &.--completed {
        background-color: var(--completed-background-color);
    }
}
