<div class="base-dialog-container">
    <div class="base-dialog-header">
        <div class="base-dialog-title">{{dialogData.title}}</div>
    </div>
    <div class="base-dialog-content">
        <div [innerHTML]="dialogData.content"></div>
    </div>
    <div class="base-dialog-actions">
        <ng-container *ngFor="let action of dialogData.actions; trackBy:trackByFn;">
            <button mat-flat-button [color]="action.backgroundColor" (click)="action.action()">{{action.text}}</button>
        </ng-container>
    </div>
</div>
