<div class="base-container base-details-container">
    <mat-icon class="base-details-avatar">category</mat-icon>
    <div class="base-details-body" [formGroup]="formGroup">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" required autocomplete="off" />
            <mat-error>
                <error-message [errors]="formGroup.get('name')?.errors" [target]="'Name'" />
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select required formControlName="_categoryId">
                <mat-option *ngFor="let category of productCategoryList; trackBy:trackByFn;" [value]="category._id">
                    {{category.displayName}}
                </mat-option>
            </mat-select>
            <mat-error>
                <error-message [errors]="formGroup.get('_categoryId')?.errors" [target]="'Category'" />
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Type</mat-label>
            <input matInput placeholder="Type" formControlName="type" required autocomplete="off" />
            <mat-error>
                <error-message [errors]="formGroup.get('type')?.errors" [target]="'Type'" />
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Warehouse</mat-label>
            <mat-select required formControlName="_warehouseId">
                <mat-option *ngFor="let warehouse of warehouseList; trackBy:trackByFn;" [value]="warehouse._id">
                    {{warehouse.name}}
                </mat-option>
            </mat-select>
            <mat-error>
                <error-message [errors]="formGroup.get('_warehouseId')?.errors" [target]="'Warehouse'" />
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Unit</mat-label>
            <input matInput placeholder="Unit" formControlName="unit" required autocomplete="off" />
            <mat-error>
                <error-message [errors]="formGroup.get('unit')?.errors" [target]="'Unit'" />
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" placeholder="Quantity" formControlName="quantity" required autocomplete="off"
                min="0" />
            <mat-error>
                <error-message [errors]="formGroup.get('quantity')?.errors" [target]="'Quantity'" />
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Retail Price</mat-label>
            <input matInput type="number" placeholder="Retail Price" formControlName="retailPrice" required
                autocomplete="off" min="0" />
            <mat-error>
                <error-message [errors]="formGroup.get('retailPrice')?.errors" [target]="'Retail Price'" />
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Wholesale Price</mat-label>
            <input matInput type="number" placeholder="Wholesale Price" formControlName="wholesalePrice" required
                autocomplete="off" min="0" />
            <mat-error>
                <error-message [errors]="formGroup.get('wholesalePrice')?.errors" [target]="'Wholesale Price'" />
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Collaborator Price</mat-label>
            <input matInput type="number" placeholder="Collaborator Price" formControlName="collaboratorPrice" required
                autocomplete="off" min="0" />
            <mat-error>
                <error-message [errors]="formGroup.get('collaboratorPrice')?.errors" [target]="'Collaborator Price'" />
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Created At</mat-label>
            <input matInput [matDatepicker]="createdAtPicker" formControlName="createdAt" required autocomplete="off" />
            <mat-datepicker-toggle matIconSuffix [for]="createdAtPicker"></mat-datepicker-toggle>
            <mat-datepicker #createdAtPicker></mat-datepicker>
            <mat-error>
                <error-message [errors]="formGroup.get('createdAt')?.errors" [target]="'Created At'" />
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Expire At</mat-label>
            <input matInput [matDatepicker]="expireAtPicker" formControlName="expireAt" required autocomplete="off" />
            <mat-datepicker-toggle matIconSuffix [for]="expireAtPicker"></mat-datepicker-toggle>
            <mat-datepicker #expireAtPicker></mat-datepicker>
            <mat-error>
                <error-message [errors]="formGroup.get('expireAt')?.errors" [target]="'Expire At'" />
            </mat-error>
        </mat-form-field>
    </div>
    <div class="base-details-actions">
        <button mat-flat-button (click)="cancelHandler()">Cancel</button>
        <button mat-flat-button color="primary" (click)="submitHandler()" [disabled]="isLoading || formGroup.invalid">
            <mat-spinner strokeWidth="4" diameter="24" class="--button --submit" *ngIf="isLoading" />
            <span>Submit</span>
        </button>
    </div>
</div>
