.box-status {
    text-align: center;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: var(--font-weight-bold);

    // ! Order status
    &.--order-status-637342a9f218cd107a5784f4 {
        background-color: var(--order-status-637342a9f218cd107a5784f4-bg);
        color: var(--order-status-637342a9f218cd107a5784f4-text);
    }

    &.--order-status-637342a9f218cd107a5784f5 {
        background-color: var(--order-status-637342a9f218cd107a5784f5-bg);
        color: var(--order-status-637342a9f218cd107a5784f4-text);
    }

    &.--order-status-637342a9f218cd107a5784f6 {
        background-color: var(--order-status-637342a9f218cd107a5784f6-bg);
        color: var(--order-status-637342a9f218cd107a5784f6-text);
    }

    &.--order-status-637342a9f218cd107a5784f7 {
        background-color: var(--order-status-637342a9f218cd107a5784f7-bg);
        color: var(--order-status-637342a9f218cd107a5784f7-text);
    }

    &.--order-status-637342a9f218cd107a5784f8 {
        background-color: var(--order-status-637342a9f218cd107a5784f8-bg);
        color: var(--order-status-637342a9f218cd107a5784f8-text);
    }

    // ! User role
    &.--user-role-6373295af218cd107a5784f2 {
        background-color: var(--user-role-6373295af218cd107a5784f2-bg);
        color: var(--user-role-6373295af218cd107a5784f2-text);
    }

    &.--user-role-6373295af218cd107a5784f3 {
        background-color: var(--user-role-6373295af218cd107a5784f3-bg);
        color: var(--user-role-6373295af218cd107a5784f3-text);
    }

    &.--user-role-6486e54357e051f88186a7e5 {
        background-color: var(--user-role-6486e54357e051f88186a7e5-bg);
        color: var(--user-role-6486e54357e051f88186a7e5-text);
    }

    &.--user-role-6486e54457e051f88186a7e6 {
        background-color: var(--user-role-6486e54457e051f88186a7e6-bg);
        color: var(--user-role-6486e54457e051f88186a7e6-text);
    }

    &.--user-role-6486e54057e051f88186a7e4 {
        background-color: var(--user-role-6486e54057e051f88186a7e4-bg);
        color: var(--user-role-6486e54057e051f88186a7e4-text);
    }
}
