.base-container {
    height: calc(100vh - 56px);
    padding: 1rem;

    .base-header {
        font-size: 1.5em;
        line-height: 1.5em;
        font-weight: var(--font-weight-bold);
    }
}

.base-block-container {
    padding: 1rem;

    .base-block-header {
        font-size: 1.5em;
        line-height: 1.5em;
        font-weight: var(--font-weight-bold);
    }
}

.base-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .base-details-avatar,
    .base-details-avatar mat-icon {
        font-size: 56px;
        width: 56px;
        height: 56px;
    }

    .base-details-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        width: 100%;
        height: calc(100vh - 5.5rem - 128px);
        overflow: auto;

        .base-details-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 100%;
            margin-bottom: 1rem;

            .base-details-blockactions {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                gap: 1rem;
            }
        }
    }

    .base-details-actions {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 36px;
        gap: 1rem;
    }
}
