:host {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 350px;
    padding: 1rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;

    .login-progress-bar {
        position: relative;
        top: 0;
        left: 0;
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }

    .login-header {
        text-align: center;
        font-size: 2rem;
        font-weight: var(--font-weight-bold);
        color: #424242;
    }

    .login-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .login-actions {
        width: 100%;

        button {
            width: 100%;
        }
    }
}

.copyright {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: #424242;
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
}
