<div class="lowtech-container">
    <div [formGroup]="formGroup" class="event-filters">
        <mat-form-field appearance="outline">
            <mat-label>{{'Search Task(s) by Title' | transloco}}</mat-label>
            <input matInput type="text" autocomplete="off" placeholder="" formControlName="search">
            <button *ngIf="formGroup.get('search').value" matSuffix mat-icon-button (click)="clearSeach()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div class="event-filters-group">
            <mat-form-field appearance="outline">
                <mat-label>{{'From Date' | transloco}}</mat-label>
                <input matInput [matDatepicker]="fromPicker" autocomplete="off" formControlName="from" />
                <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
                <mat-datepicker #fromPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{'To Date' | transloco}}</mat-label>
                <input matInput [matDatepicker]="toPicker" autocomplete="off" formControlName="to" />
                <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
                <mat-datepicker #toPicker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="events-container mat-elevation-z4">
        <ng-container *ngFor="let event of eventList; trackBy:trackByFn; last as isLast;">
            <div class="event-block">
                <div class="event-mark --{{event.extendedProps._statusName}}"></div>
                <div class="event-content full-w">
                    <div class="event-header">
                        <div class="event-title">{{event.title}}</div>
                        <div class="event-date-range">
                            <span>{{event.start | date: 'MMM d, y'}}</span>
                            <mat-icon>arrow_forward</mat-icon>
                            <span>{{event.end | date:'MMM d, y'}}</span>
                        </div>
                    </div>
                    <div class="event-details">
                        <div class="event-description">{{event.extendedProps.description}}</div>
                    </div>
                    <div class="event-actions">
                        <button mat-flat-button color="primary" (click)="completeEvent(event)"
                            *ngIf="event.extendedProps._statusName !== 'completed'">Complete</button>
                    </div>
                </div>
            </div>
            <mat-divider *ngIf="!isLast" />
        </ng-container>
    </div>
</div>
