<div class="base-container base-details-container">
    <ng-template [ngTemplateOutlet]="BaseDetailsHeaderTemplate"></ng-template>

    <ng-template [ngTemplateOutlet]="BaseDetailsContentTemplate"></ng-template>

    <ng-template [ngTemplateOutlet]="BaseDetailsActionsTemplate"></ng-template>
</div>

<ng-template #BaseDetailsHeaderTemplate>
    <div class="base-details-header">Warehouse Details</div>
</ng-template>

<ng-template #BaseDetailsContentTemplate>
    <div class="base-details-content" [formGroup]="formGroup">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required autocomplete="off" />
            <mat-error>
                <error-message [errors]="formGroup.get('name')?.errors" [target]="'Name'" />
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" required autocomplete="off" />
            <mat-error>
                <error-message [errors]="formGroup.get('name')?.errors" [target]="'Address'" />
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Manager</mat-label>
            <mat-select required formControlName="_managerId">
                <mat-option *ngFor="let manager of managerList; trackBy:trackByFn;" [value]="manager._id">
                    {{manager.name}}</mat-option>
            </mat-select>
            <mat-error>
                <error-message [errors]="formGroup.get('name')?.errors" [target]="'Manager'" />
            </mat-error>
        </mat-form-field>
    </div>
</ng-template>

<ng-template #BaseDetailsActionsTemplate>
    <div class="base-details-actions">
        <button mat-flat-button (click)="cancelHandler()">Cancel</button>

        <button mat-flat-button color="primary" (click)="updateHandler()"
            [disabled]="isLoading || formGroup.invalid || !formHasChanged">
            <mat-spinner strokeWidth="4" diameter="24" class="--button --submit" *ngIf="isLoading" />
            <span>Update</span>
        </button>
    </div>
</ng-template>
