<ng-container *ngIf="appState.ready; else unauthorized">
    <ng-container *ngTemplateOutlet="authorized" />
</ng-container>

<ng-template #authorized>
    <ng-container *ngIf="appState.me.role !== '6486e54057e051f88186a7e4'">
        <top-nav (showLeftSideNav)="drawer.toggle()" />
        <mat-drawer-container id="app-container" [hasBackdrop]="sidenavHasBackdrop">
            <mat-drawer #drawer [mode]="sidenavMode" [opened]="sidenavOpened"
                (openedChange)="onSidenavOpenedChange($event)" id="app-left-sidenav-content">
                <left-sidebar />
            </mat-drawer>
            <mat-drawer-content id="app-content">
                <router-outlet />
            </mat-drawer-content>
        </mat-drawer-container>
    </ng-container>
    <ng-container *ngIf="appState.me.role === '6486e54057e051f88186a7e4'">
        <router-outlet />
    </ng-container>
</ng-template>

<ng-template #unauthorized>
    <router-outlet />
</ng-template>
